<h1>All Movies</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "Title", movies_path(sort: "title", direction: params[:direction] == "asc" ? "desc" : "asc") %>
      </th>
      <th>
        <%= link_to "Rating", movies_path(sort: "rating", direction: params[:direction] == "asc" ? "desc" : "asc") %>
      </th>
      <th>
        <%= link_to "Release Date", movies_path(sort: "release_date", direction: params[:direction] == "asc" ? "desc" : "asc") %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>
